@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #efebe9;
}

.encabezado {
    width: 1012px;
    height: 150px;
    margin-top: 47px;
    background-color: #455a64;
    color: white;
}

h1 {
    text-align: center;
    padding: 65px;
}

.menu {
    background-color: green; /*Nada*/
    width: 1012px;
    height: 70px;
    margin-top: -16px;

}

.menu ul {
    padding: 26px;
    background-color: #1c313a;

}

.menu li {

    list-style-type: none;
    display: inline;
    padding: 26px 16px;

}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.img {
    padding-top: 32px;
    padding-bottom: 23px;
    width: 1012px;
    height: 450px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.dimensionImg {
    width: 315px;
    height: 317px;
}

.piePag {
    margin-top: -16px;
    width: 1012px;
    height: 150px;
    background-color: #455a64;
}

.piePag p {
    text-align: center;
    padding: 65px;
    color: white;
}

.sel {
    background-color: #66bb6a;

}

/*Datos Personales*/

.encabezado1 {
    width: 1012px;
    height: 150px;
    margin-top: 17px;
    background-color: #455a64;
    color: white;
}

.tabla {
    padding-top: 120px;
    width: 1012px;
    height: 400px;
    text-align: center;
    line-height: 175%;
    font-size: small;
    background-color: white;
}

.tabla table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.tabla table {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}

table td:nth-child(1) {
    font-weight: bold;
    width: 5cm;
}

table td:nth-child(2) {
    width: 12cm;
}

/*Experiencia Laboral*/

.encabezado2 {
    width: 1012px;
    height: 150px;
    margin-top: 93px;
    background-color: #455a64;
    color: white;
}

.lista {

    width: 1012px;
    height: 400px;
  padding-top: 75px;
    font-size: large;
    background-color: white;
}